*.class

# Package Files #
*.jar
*.war
*.ear

target
*.iml
*.ipr
*.iws
build
out
target
.gradle
wrapper
gradlew
gradlew.bat


8-multi-project/multi-web/.idea/workspace.xml
8-multi-project/multi-web/.idea/workspace.xml
8-multi-project/multi-web/.idea/workspace.xml

*/**/.idea/*.xml
*/**/.idea/**/*.xml

